body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f8f9fc; /* Fundo claro */
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #333;
  }
  
  p, span, label, input, button, th, td {
    font-weight: 400;
    color: #555;
  }